:root {
  --bg-color: rgb(29 26 32);
  --label-color: rgb(216 194 242);
  --alternate-label-color: rgb(29 26 32);
  --dim-label-color: rgb(142, 142, 147);
  --border-color: rgb(216 194 242);
  --highlight-color: rgb(216 194 242);
  --urgency-color: rgb(255, 69, 58);
  --indicator-focus-color: rgb(216 194 242);
  --indicator-color: rgb(45, 40, 49);
}